/* Grid Background Circles */
.gridContainer {
  position: relative;
  margin: 0 auto;
}

.circle {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
}

.circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
